.select-currency {
  display: flex;
  justify-content: center;
  background-color: #1687a7;
  color: white;

  select {
    padding: 10px 0;
    width: 200px;
    outline: none;
    border: none;
    background-color: white;
    
  }
}