.button {
  width: 100%;
  
  .add-button {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: #1687a7;
    color: white;
    padding: 20px;
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    img {
      filter: brightness(0) invert(1);
    }
    
    p {
      margin-bottom: 0;
    }

    &:hover {
      background-color: #027494;
    }
  }

  .submit-button {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    background-color: #1687a7;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    button {
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      background-color: white;
      box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}