.containers {
  width: 100%;
  background-color: #1687a7;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;

  .input-number {
    display: flex;
    gap: 50px;

    label {
      align-self: center;
      margin-bottom: 0;
      font-size: 35px;
      font-weight: bold;
    }
    
    input {
      background-color: #f6f5f5;
      color: #1687a7;
      border: 1px solid white;
      padding: 0 20px;
      border-radius: 4px;
      width: max-content;
      font-size: 30px;
      font-weight: bold;
      width: 100%;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
}