.currency-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  background-color: #f6f5f5;

  .currency-card {
    display: flex;
    width: 100%;

    .currency-info {
      flex: 1;
      background-color: #d3e0ea;
      padding: 10px;

      p {
        margin-bottom: 0;
      }

      .currency-exchange {
        display: flex;
        justify-content: space-between;
      }
    }

    .remove-currency {
      width: max-content;
      padding: 10px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      background-color: #d3e0ea;

      &:hover {
        background-color: #bacfdf;
      }
    }
  }

  .udate-currency {
    font-size: 14px;
    margin-bottom: 0;
    text-align: right;
  }
}

@media only screen and (max-width: 600px) {
  .currency-wrapper {
    h3 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }
}