.main {
  width: 40%;
  background-position: 50vh;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;

  .card-container {
    width: 100%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    background-color: white;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    width: 90%;
  }
}