.no-currency {
  width: 100%;
  height: 100px;
  margin: auto;
  background-color: #f6f5f5;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    margin-bottom: 0;
  }
}